@use '../../variables.module.scss';

.home {
    display: grid;
    grid-template-rows: 50px, 50px, 500px;
    gap: 1rem;

    .homeNav {
        align-self: center;
        justify-self: end;
        padding: 0 5rem;
    }
    .btn {
        border-radius: 5px;
        padding: .5rem .7rem;
        font-weight: 600;
        font-size: 1rem;
        outline: none;
        background: variables.$dark-blue;
        color: #fff;
        border: 1px solid #495057;

        .btnIconSpacing {
            padding-right: .5rem;
        }
    }
    .btn:hover {
        cursor: pointer;
        background: #495057;
    }
}