// color palette: https://coolors.co/palette/0466c8-0353a4-023e7d-002855-001845-001233-33415c-5c677d-7d8597-979dac
$true-blue: #0466C8;
$sapphire: #0353A4;
$yale-blue: #023E7D;
$oxford-blue: #002855;
$darker-oxford-blue: #001845;
$darkest-oxford-blue: #001233;
$delft-blue: #33415C;
$paynes-gray: #5C677D;
$slate-gray: #7D8597;
$cool-gray: #979DAC;
$white: #fff;